@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.mainContent {
    display: $display-flex;
    flex-direction: $flex-direction-c;
    align-items: $align-items-c;
    padding: 5em;
    color:  $color-white-gray;
    h1 {
        font-size: $font-size-xl;
    }
    p {
    border: 5px solid $color-white-gray ;
    border-radius: $border-radius-20px;

        width: $width-3Q;
        margin: 20px 0px;
        text-align: $text-align-c;
        font-size: $font-size-m;
        padding: 1em 10em;
    }
}
.additionalInfo, .additionalInfoII {
    width: $width-full;
    background-color: $color-blue-2;
    display: $display-flex;
    align-items: $align-items-c;
    justify-content: $justify-content-c;
    padding:5em 0em;
    
    div {
        display: $display-flex;
        flex-direction: $flex-direction-c;
        width: 35%;
        background-color: $color-white-gray;
         padding: 30px 60px 30px 60px;
         border-radius: $border-radius-20px;
            min-height: 35vh;
            margin-left: 1em;

        h1 {
            text-align: $text-align-c;
            font-size: $font-size-xl;
            line-height: 2.4em;
            letter-spacing: 1.2px;
            color: $color-white-regular;
            margin-top: 1em;
        }
        p, ul, li {
            list-style-type: none;
            text-align: $text-align-c;
            justify-content: $justify-content-c;
            align-items: $align-items-c;
            color: $color-white-regular;
            font-size: $font-size-m;
        }
      
    }
}
.arrowDown {
    text-align: $text-align-c;
    font-size: $font-size-xl;
    background-color: $color-white-gray;
    color: $color-white-regular;
}