<div class="mainContent" id="oNama">
    <h1>Kako je sve počelo?</h1>
    <p>U tim trenucima, bend sastavljen od dvije etničke grupe, zaraćene u proteklom ratu, je dokazao da mogu i žele raditi zajedno, služeći se muzikom kao najboljim alatom za razbijanje predrasuda između ljudi. Mnogi ljudi o Srebrenici žele prikazati pozitivne i lijepe priče ali zbog teške prošlosti takve redovno odu u drugi plan. Ovo je konkretna, pozitivna priča o životu i suživotu, razumijevanju i ljubavi, borbi i najvažnije – priča o mladosti. U teškim i bolnim situacijama, bend je dokazao da su ratovi, neslaganja i ubijanja samo ružni historijski izuzetak. 2011. godine bend “Afera” je nagrađen ordenom grada Srebrenice, najvećom nagradom koju opština može nekome da dodjeli. U konkurenciji velikog broja NVO-a (nevladinih organizacija), političkih, pravnih i fizičkih subjekata, lokalne vlasti su se 2011. godine složile da je naš bend imao najveći doprinos u razvoju grada.</p>
    <p>Sama ideja o osnivanju Udruženja je krenula 2016. godine, kada su članovi benda uz podršku opštine Tilburg, organizacije Portagora, Emmaus France i Svjetske Alijanse Solidarnosti Franco Bettoli (World Solidarity Alliance Franco Bettoli), organizovali prvi “Srebrenica Wave” festival. Ovaj projekat prvenstveno je napravljen sa ciljem doprinosa procesu afirmacije kulture i kulturnih dešavanja u Srebrenici kroz organizaciju aktivnosti za mlade ali i s ciljem pomoći marginaliziranim mladima iz ruralnih i etnički podijeljenih područja, učeći ih pomirenju, ravnopravnosti, mogućnostima i važnosti zajedničkih akcija.</p>
    <p>Prvi festival je značajno unaprijedio kontakte, razmjenu iskustava i znanja, te izgradnji mostova između Srebrenice i kulture Europskih zemalja. Bez obzira na otežavajuće okolnosti, nakon ovoga, organizovan je drugi, zatim treći festival i pored toga još mnoštvo drugih muzičkih događaja, aktivnosti i projekata a sve sa istim ciljem koje Udruženje i danas prati.</p>
</div>
<div class="additionalInfo">
        <div>
            <h1>Udruženje</h1>
            <p>
                U aprilu 2018. godine, Udruženje Srebrenica Wave je upisano u Registar Udruženja kod Ministarstva pravde Bosne i Hercegovine, čime je ozvaničen dosadašnji trud, rad i zalaganje, kao i obaveza ka ispunjenju misije, vizije i zadanih ciljeva.   
            </p>
        </div>
        <div class="imgHolder">
        <img src="../../../../assets/SrebrenicaWave_white.png">
         </div>
    </div>
    <div class="arrowDown">
        <span class='fa fa-arrow-down'></span>
    </div>

    <div class="additionalInfoII">
        <div>
            <h1>Registracija</h1>
            <p>
                U aprilu 2018. godine, Udruženje Srebrenica Wave je upisano u Registar Udruženja kod Ministarstva pravde Bosne i Hercegovine, čime je ozvaničen dosadašnji trud, rad i zalaganje, kao i obaveza ka ispunjenju misije, vizije i zadanih ciljeva.
            </p>  
        </div>
        <div class="imgHolder">
            <h1>Polja djelovanja:</h1>
            <ul>
                <li>Mirovni aktivizam</li>
                <li>Kultura i umjetnost</li>
                <li>Izgradnja zajednice</li>
                <li>Razvoj organizacije</li>
            </ul>
         </div>
    </div>
    <div class="arrowDown">
        <span class='fa fa-arrow-down'></span>
    </div>
    <div class="additionalInfoII">
        <div>
            <h1>Misija</h1>
            <p>
                Mirovnim aktivizmom, kulturom i umjetnošću, te „izgradnjom zajednice“, Srebrenica val povezuje ljude, stvara okruženje za razvoj pojedinaca i zajednice, potiče kulturno i umjetničko stvaralaštvo i ekonomski napredak, pruža jedinstven prostor za izražavanje i realizaciju društveno korisnih ideja, misli i djela.
            </p>    
        </div>
        <div class="imgHolder">
            <h1>Vizija</h1>
            <p>Ekonomski stabilna zajednica posvećena socijalnoj pravdi, miru, jednakosti i boljitku.</p>
         </div>
    </div>