@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.mainContent {
    @include display-direction-align($display-flex,$flex-direction-c, $align-items-c);
    padding: 5em;
    color:  $color-white-gray;
    h1 {
        font-size: $font-size-xl;
    }
    p {
        border: 5px solid $color-white-gray ;
        border-radius: $border-radius-20px;
        width: $width-3Q;
        margin: 20px 0px;
        text-align: $text-align-c;
        font-size: $font-size-m;
        padding: 1em 5em;
    }
}
.additionalInfo, .additionalInfoII {
    width: $width-full;
    background-color: $color-blue-2;
    @include display-align-justify($display-flex, $align-items-c, space-evenly);
    padding:5em 0em;
    
    div {
        display: $display-flex;
        flex-direction: $flex-direction-c;
        width: 35%;
        background-color: $color-white-gray;
        padding: 0px 60px;
        justify-content: center;
        border-radius: $border-radius-20px;
        height: 400px;

        h1 {
            @include font-lineH-letterS-color($font-size-xl, 2.4em, 1.2px, $color-white-regular);
            text-align: $text-align-c;
        }
        p, ul, li {
            list-style-type: none;
            @include items-and-text-align($align-items-c, $text-align-c);
            justify-content: $justify-content-c;
            @include font-size-and-color($font-size-m, $color-white-regular);
        }
      
    }
}

.arrowAnim {
    width: 100vw;
    @include display-align-justify($display-flex, $align-items-c, $justify-content-c);
    .arrowSliding {
        position: absolute;
        animation: slide 3s linear infinite;
        .arrow {
            @include font-size-and-color(50px, $color-white-regular);
          }
      }
    @keyframes slide {
        0% { opacity:0; transform: translateY(-4vw); }	
       20% { opacity:1; transform: translateY(-2vw); }	
       80% { opacity:1; transform: translateY(4vw); }	
      100% { opacity:0; transform: translateY(6vh); }	
    }
  }




  @media  screen and  (max-width: 865px) {
    .additionalInfo, .additionalInfoII {
        padding: 10px 10px;
      
    }
    .mainContent {
        margin-left: 25px;
        margin-right: 25px;
        padding: 0;
        h1 {
            margin-top: 1em;
        }
        p {
       
            padding: 1em;
            width: $width-full;
          
        }
    }
    .additionalInfo, .additionalInfoII {
        display: flex;
        flex-direction: column;
        padding: 25px;
    }
    .additionalInfo div, .additionalInfoII div {
        padding: 25px;
        width: 100%;
        margin-bottom: 32px;
        
        

    }
    .arrowSliding {
        align-items: center;
    }
 

  }

  @media  screen and  (max-width: 480px) {
    
     
    
}
