<div class="imgHolder">
    <div class="colorOverlay"></div>
    <div class="titleHolder">
        <div><h1>Sviraj i ti!</h1></div>
    </div>
</div>
<div class="title">
    <div>
        <h1>Sviraj i ti!</h1>
        <p>Na našoj bini do sada su svirali neki od najvećih izvođača iz regiona. 
        Više od 150 izvođača dijelilo je pozornicu Pivnice. Ukoliko im se želite pridružiti, molimo vas da popunite formular. Naš booking team će vas kontaktirati uskoro.</p>
    </div>
    
</div>
<!-- <form action="get">
    <div class="name">
        <div class="firstName">
            <p>Ime *</p>
            <input type="text" name="text" id="text">
            <label for="text"></label>
        </div>
        <div class="lastName">
            <p>Prezime *</p>
            <input type="text" name="text" id="text">
            <label for="text"></label>
        </div>
        
    </div>
   
</form> -->
