@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
.imgHolder {
    height: $height-100vh;
    width: $width-full;
    background-image: url(../../../assets/perform-in-pivinca.jpg);
    background-repeat: $background-repeat-no;
    background-size: $background-size-c;
    .colorOverlay {
        background-image: linear-gradient(180deg, #000000 0%, $color-orange-2 100%);
        opacity: 0.5;
        height: 100%;
        width: 100%;
    }
    .titleHolder {
        display: $display-flex;
        align-items: $align-items-c;
        justify-content: space-evenly;
        background-color: $color-orange-a;
        width: 22%;
        height: 15vh;
        position: relative;
        bottom: 15vh;
        left: 500px;
        div {
            color: $color-white-regular;
            position: relative;
            h1 {
                color: white;
                font-size: $font-size-xl;
                opacity: 1;
                font-weight: bold
            };
        };
    };
   
};
.title {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    justify-content: space-around;
    div {
        padding: 20px 0px;
        width: 45%;
        display: flex;
        flex-direction: column;
    }
    h1 {
        margin-bottom: 5px;
        align-items: flex-start;
    }
}



.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    input, textarea {
        padding: 5px;
    }
    label {
        font-weight: bold;
        span {
            color: $color-red-1
        }
    }
    form {
        display: inline-block;
        width: 50%;
        .first_row {
                 margin: 20px 0;
                display: flex;
                width: 100%;
            .first_line {
                width: 50%;
                &:nth-child(1) {
                    width: 49.5%;
                    margin-right: 1%;
                }
                &:nth-child(2) {
                    width: 49.5%
                }

            };
            label, input {
                height: 4vh;
                width: 100%;
            };
            
        }
        .second_row {
            display: flex;
            flex-direction: row;
            width: 100%;
            .second_line {
                width:100%;
            }
            label, input {
                height: 4vh;
                width: 100%;
            };
            textarea {
                width: 100%;
                height: 6vh;
            }
        };
        .forth_row {
            display: flex;
            flex-direction: row;
            width: 100%;
            .forth_line {
                width:100%;
                textarea {
                    width: 100%;
                    resize:vertical;
                };
            };
           
        };
        .fifth_row {
            margin: 20px 0;
    
                display: flex;
                width: 100%;
                .fifth_line {
                    width: 50%;
                    &:nth-child(1) {
                        width: 49.5%;
                        margin-right: 1%;
                    }
                    &:nth-child(2) {
                        width: 49.5%
                    }
    
                };
                label, input {
                    height: 4vh;
                    width: 100%;
                 
                };
      
    };
                .sixth_row {
                display: flex;
                flex-direction: row;
                width: 100%;
                .sixth_line {
                    width:100%;
                    label, input {
                        height: 4vh;
                        width: 100%;
                    };
                };
       
            };
            .button {
                @include weight-lineHeight-bckColor($font-weight-m, $line-height-m, $color-orange-2);
                border-radius: 26px;
                padding: 15px 30px;
                @include font-size-and-color($font-size-m, $color-white-regular);
                margin-top: 20px;
                margin-left:5px;
                cursor: pointer;
                
                    

                &:hover {
                    font-weight: bold;

                    }
               
                   
              
            }

};
};
.successMessage {
    width: 100%;
    display: flex;
    justify-content: center;
     p {
        width: 30%;
        text-align: center;
        background-color: $color-orange-2;
        color: $color-white-regular;
        font-size: 25px;
        padding: 10px;

}
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
   
}
input.ng-valid {
    border: 2px solid green;
}
span {
    color:red;
    padding-top: 5px;
    margin-left:5px
}

.graybtn {
    background-color: gray;
    color: green;
    ;
}

@media screen and  (max-width: 1300px) {
    .imgHolder .titleHolder {
        width: 40%;
        position: relative;
        left: 0;
        display: flex;
        justify-content: space-evenly;

    }
}


@media screen and  (max-width: 930px) {
    .imgHolder .titleHolder {
        width: 100%;
      

    }
    .title div {
        width: 70%;
    }
    .container form {
        width: 70%;
        
    }
    .successMessage p {
        width: 70%;
    }
}

@media screen and  (max-width: 530px) {
    
    .title div {
        text-align: center;
        width: 90%;
        h1 {
            display: none;
        }
    }
    .container form {
        width: 90%;
        
    }
    .successMessage p {
        width: 90%;
    }
}


