@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
.imgHolder {
    height: $height-100vh;
    width: $width-full;
    background-image: url(../../../assets/perform-in-pivinca.jpg);
    background-repeat: $background-repeat-no;
    background-size: $background-size-c;
    .colorOverlay {
        background-image: linear-gradient(180deg, #000000 0%, $color-orange-2 100%);
        opacity: 0.5;
        height: 100%;
        width: 100%;
    }
    .titleHolder {
        display: $display-flex;
        align-items: $align-items-c;
        justify-content: flex-start;
        background-color: $color-orange-a;
        width: 22%;
        height: 15vh;
        position: relative;
        bottom: 15vh;
        left: 500px;
        div {
            color: $color-white-regular;
            position: relative;
            bottom: 2vh;
            left: 2em;
            h1 {
                color: white;
                font-size: $font-size-xl;
                opacity: 1;
                font-weight: bold
            };
        };
    };
   
};
.title {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    justify-content: space-around;
    div {
        padding: 20px 0px;
        width: 45%;
        display: flex;
        flex-direction: column;
    }
    h1 {
        margin-bottom: 5px;
        align-items: flex-start;
    }
}
// .title {
//     display: flex;
//     flex-direction: column;
//     align-items:center;
//     width: 100%;
//     justify-content: space-around;
//     div {
//         padding: 20px 0px;
//         width: 45%;
//         display: flex;
//         flex-direction: column;
//     }
//     h1 {
//         margin-bottom: 5px;
//         align-items: flex-start;
//     };
// };


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    input, textarea {
        margin: 0px 5px;
        padding: 5px;
    }
    label {
        font-weight: bold;
        span {
            color: $color-red-1
        }
    }
    form {
        display: inline-block;
        width: 50%;
        .first_row {
                 margin: 20px 0;
                display: flex;
                width: 100%;
            .first_line {
                width: 50%;
                &:nth-child(1) {
                    width: 49.5%;
                    margin-right: 1%;
                }
                &:nth-child(2) {
                    width: 49.5%
                }

            };
            label, input {
                height: 4vh;
                width: 100%;
            };
            
        }
        .second_row {
            display: flex;
            flex-direction: row;
            width: 100%;
            .second_line {
                width:100%;
            }
            label, input {
                height: 4vh;
                width: 100%;
            };
            textarea {
                width: 100%;
                height: 6vh;
            }
        };
        .forth_row {
            display: flex;
            flex-direction: row;
            width: 100%;
            .forth_line {
                width:100%;
                textarea {
                    width: 100%;
                    resize:vertical;
                };
            };
           
        };
        .fifth_row {
            margin: 20px 0;
    
                display: flex;
                width: 100%;
                .fifth_line {
                    width: 50%;
                    &:nth-child(1) {
                        width: 49.5%;
                        margin-right: 1%;
                    }
                    &:nth-child(2) {
                        width: 49.5%
                    }
    
                };
                label, input {
                    height: 4vh;
                    width: 100%;
                 
                };
      
    };
                .sixth_row {
                display: flex;
                flex-direction: row;
                width: 100%;
                .sixth_line {
                    width:100%;
                    label, input {
                        height: 4vh;
                        width: 100%;
                    };
                };
       
            };
            button {
                @include weight-lineHeight-bckColor($font-weight-m, $line-height-m, transparent);
                border-radius: 26px;
                padding: 15px 30px;
                @include font-size-and-color($font-size-m, $color-white-regular);
                margin-top: 20px;
                margin-left:5px;
                cursor: pointer;
                background-color: $color-red-1;
                
                        // .graybtn {
                        //     background-color: gray;
                        //     color: green;
                            
                        // }

                &:hover {
                    font-weight: bold;

                    }
               
                   
                // margin-top: 20px;
                // padding: 10px 20px;
                // background-color: $color-red-1;
                // border-radius: $border-radius-5px;
                // color: $color-white-regular;
                // cursor:pointer;
            }

};
};
.successMessage {
    width: 100%;
    display: flex;
    justify-content: center;
     p {
        width: 30%;
        text-align: center;
        background-color: $color-red-1;
        color: $color-white-regular;
        font-size: $font-size-xl;
}
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
   
}
input.ng-valid {
    border: 2px solid green;
}
span {
    color:red;
    padding-top: 5px;
    margin-left:5px
}

