@mixin font-size-and-color($font-size, $color ) {
    font-size: $font-size;
    color: $color;
};

@mixin display-direction-align($display, $direction, $align-items) {
    display: $display;
    flex-direction: $direction;
    align-items: $align-items;
}
@mixin bck-repeat-bck-size-and-height($bck-repeat, $bck-size, $height) {
    background-repeat: $bck-repeat;
    background-size: $bck-size;
    height: $height;
}
@mixin weight-lineHeight-bckColor($font-weight, $line-height, $background-color) {
    font-weight: $font-weight;
    line-height: $line-height;
    background-color: $background-color
}  
@mixin items-and-text-align ($align-items, $text-align) {
    align-items: $align-items;
    text-align: $text-align;
}
@mixin display-align-justify ($display, $align, $justify) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}
@mixin width-height-pos-bott-left($width, $height, $position, $bottom, $left) {
    width: $width;
    height: $height;
    position: $position;
    bottom: $bottom;
    left: $left;
}
@mixin font-lineH-letterS-color($font-size, $line-heigh, $letter-spacing, $color) {
    font-size: $font-size;
    line-height: $line-heigh;
    letter-spacing: $letter-spacing;
    color: $color;
}