$color-white-regular: #ffffff;
$color-blue-1: #1085e4;
$color-blue-2: #055394;
$color-red-1: #951933;
$color-red-2: #F4A5A8;
$color-orange-1: #ca5c10;
$color-orange-2: #89410e;




$font-size-m: 18px;
$font-size-xl: 40px;

$font-weight-m: 400;
$font-weight-bold: bold;


$line-height-m: 20px;

$border-radius-5px: 5px;

$height-95vh: 95vh;

$width-half: 50%;

$margin-top-m: 20px;
$margin-top-xl: 350px;
$margin-left-m: 20px;

$padding-top-l: 50px;
$padding-button: 12px 25px 12px 25px;

$display-flex: flex;

$flex-direction-c: column;

$align-items-c: center;
$text-align-c: center;

$justify-content-c: center;
$justify-content-S-A: space-around;

$background-repeat-no: no-repeat;

$background-size-c: cover;