$color-white-regular: #ffffff;
$color-white-gray: #222329;
$color-blue-a:#05539473;
$color-blue-1: #1085e4;
$color-blue-2: #055394;
$color-red-1: #951933;
$color-red-2: #F4A5A8;
$color-red-a: #95193380;
$color-orange-1: #ca5c10;
$color-orange-2: #89410e;
$color-orange-a:#75400a80;




$font-size-m: 18px;
$font-size-xl: 40px;

$font-weight-m: 400;
$font-weight-bold: bold;


$line-height-m: 20px;

$border-radius-5px: 5px;
$border-radius-20px: 20px;
$border-radius-title-holder: 26px 0 0 0;

$height-95vh: 95vh;
$height-100vh: 100vh;
$height-110vh: 110vh;
$height-15vh: 15vh;
$height-full: 100%;

$width-30: 30%;
$width-half: 50%;
$width-full: 100%;
$width-3Q: 75%;
$width-22: 22%;

$margin-top-m: 20px;
$margin-top-xl: 350px;
$margin-left-m: 20px;

$padding-top-l: 50px;
$padding-button: 12px 25px 12px 25px;

$display-flex: flex;

$flex-direction-c: column;

$align-items-c: center;
$align-items-s: start;
$text-align-c: center;

$justify-content-c: center;
$justify-content-S-A: space-around;

$background-repeat-no: no-repeat;
$background-size-c: cover;

$opacity-half: 0.5;