<div class="aboutFest">
    <h1>SREBRENICA WAVE <span>FEST</span></h1>
    <p>Sama ideja o osnivanju Udruženja je krenula 2016. godine, kada su članovi benda uz podršku opštine Tilburg, organizacije Portagora, Emmaus France i Svjetske Alijanse Solidarnosti Franco Bettoli (World Solidarity Alliance Franco Bettoli), organizovali prvi “Srebrenica Wave” festival. Ovaj projekat prvenstveno je napravljen sa ciljem doprinosa procesu afirmacije kulture i kulturnih dešavanja u Srebrenici kroz organizaciju aktivnosti za mlade, ali i s ciljem pomoći marginaliziranim mladima iz ruralnih i etnički podijeljenih područja, učeći ih pomirenju, ravnopravnosti, mogućnostima i važnosti zajedničkih akcija.</p>
    <div class="buttons">
        <a routerLink="/festival"><button class="__more">Više o festivalu &#8505;</button></a>
        <a routerLink="/sviraj-i-ti"><button class="__perform">Sviraj i ti  &#8614;</button></a>
    </div>
</div>