.contentHolder {
    background-image: url(../../../../assets/town.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    color: white;
    background-position: center;
    .colorOverlay {
        background-image: linear-gradient(180deg, #000000 0%, #055394 100%);
        opacity: 0.5;
        width: 100%;
        height: 100%;
    }

}

.contactForm {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #05539480;
    width: 22%;
    height: 15vh;
    position: relative;
    bottom: 15vh;
    left: 500px;
    div {
        color: white;
        position: relative;
        bottom: 2vh;
        left: 5em;
        font-size: 20px;
    }
    
};


.contactInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    background-color: #222329;
    .contactDetails {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        .phone, .email, .location {
            color: white;
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            font-size: 1.5rem;
            span {
                padding-bottom: 3rem;
                font-size: 2.5rem;
               
            }

        }
    }
}