    <div class="contentHolder">
        <div class="colorOverlay"></div>
        <div class="contactForm">
            <div><h1>Kontakt</h1></div>
        </div>
    </div>
    <div class="contactInfo">
        <div class="contactDetails">
            <div class="phone">
                <span class="fa fa-phone" aria-hidden="true"></span>
                <h2>Telefon:</h2>
                <p>+387 65 171 852</p>
                <p>Miroslav Andric</p>
             </div>
             <div class="email">
                <span class="fa fa-envelope" aria-hidden="true"></span>
                <h2>E-mail:</h2>
                <p>wavesrebrenica@gmail.com</p>
             </div>
             <div class="location">
                <span class="fa fa-location-arrow" aria-hidden="true"></span>
                <h2>Location:</h2>
                <p>Maršala Tita 77, </p>
                <p>Srebrenica (75430)</p>    
             </div>
        </div>
       
    </div>
