@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.contentHolder {
    background-image: url(../../../../assets/town.jpg);
    @include bck-repeat-bck-size-and-height($background-repeat-no, $background-size-c, $height-100vh);
    background-color: transparent;
    color: $color-white-regular;
    background-position: center;
    .colorOverlay {
        background-image: linear-gradient(180deg, #000000 0%, $color-blue-1 100%);
        @include opacity-height-width(0.5, $height-full ,$width-full);
    };

};

.contactForm {
    @include display-align-justify($display-flex, $align-items-c, flex-start);
    background-color: $color-blue-a;
    @include width-height-pos-bott-left($width-22, $height-15vh, relative, 15vh, 490px);
    div {
        color: $color-white-regular;
        position: relative;
        bottom: 2vh;
        left: 5em;
        h1 {
            font-size: $font-size-xl
        }
    }
    
};


.contactInfo {
    display: $display-flex;
    justify-content: $justify-content-c;
    flex-direction: $flex-direction-c;
    width: $width-full;
    height: 50vh;
    background-color: $color-white-gray;
    .contactDetails {
        display: $display-flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: $text-align-c;
        .phone, .email, .location {
            color: $color-white-regular;
            display: $display-flex;
            flex-direction: $flex-direction-c;
            align-self: flex-start;
            font-size: 1.5rem;
            span {
                padding-bottom: 3rem;
                font-size: 2.5rem;
               
            };

        };
    };
};