@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.contentHolder {
    background-image: url(../../../../assets/town.jpg);
    @include bck-repeat-bck-size-and-height($background-repeat-no, $background-size-c, $height-100vh);
    background-color: transparent;
    color: $color-white-regular;
    background-position: center;
    .colorOverlay {
        background-image: linear-gradient(180deg, #000000 0%, $color-blue-1 100%);
        @include opacity-height-width(0.5, $height-full ,$width-full);
    };

};

.contactForm {
    @include display-align-justify($display-flex, $align-items-c, space-evenly);
    background-color: $color-blue-a;
    @include width-height-pos-bott-left(20em, $height-15vh, relative, 15vh, 490px);
    div {
        color: $color-white-regular;
        position: relative;
       
        h1 {
            font-size: $font-size-xl
        }
    }
    
};


.contactInfo {
    display: $display-flex;
    justify-content: $justify-content-c;
    flex-direction: $flex-direction-c;
    width: $width-full;
    height: 50vh;
    background-color: $color-white-gray;
    .contactDetails {
        display: $display-flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: $text-align-c;
        .phone, .email, .location {
            color: $color-white-regular;
            display: $display-flex;
            flex-direction: $flex-direction-c;
            align-self: flex-start;
            font-size: 1.5rem;
            span {
                padding-bottom: 3rem;
                font-size: 2.5rem;
               
            };

        };
    };
};

@media screen and  (max-width: 1300px) {
    .contentHolder {
        background-position: center center;
    }
    .contentHolder .contactForm {
        width: 40%;
        position: relative;
        left: 0;
        display: flex;
        justify-content: space-evenly;

    }
}


@media screen and  (max-width: 930px) {
    .contentHolder .contactForm {
        width: 100%;
      

    }
}

@media screen and  (max-width: 600px) {
    .contactInfo .contactDetails {
        display: block;
        font-size: 1em;

    }
    .contactInfo .contactDetails .phone ,.contactInfo .contactDetails  .email, .contactInfo .contactDetails .location {
        font-size: 1em;
        span {
            padding: 0.5em 0em;
            font-size: 1.8rem;
        }
    }
}