<div class="header">
    <a routerLink="/home">Srebrenica Wave</a>
    <!-- <p>Srebrenica Wave</p> -->
    <div class="nav">
        <ul>
            <li><a routerLink="/o-nama">O nama</a></li>
            <li><a routerLink="/info-point">Info point</a></li>
            <li><a routerLink="/pivnica">Pivnica</a></li>
            <li><a routerLink="/festival">Festival</a></li>
            <li><a routerLink="/dogadjaji">Dogadjaji</a></li>
            <li><a routerLink="/kontakt">Kontakt</a></li>
        </ul>
    </div>
</div>

