.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    color: white;
    padding:20px 0px;
    z-index: 999;
    a {
        cursor: pointer;
        font-size: 25px;
        color: white;
        text-decoration: none;
        &:hover {
            font-size: 27px;
        }
    }
    
    ul {
        list-style-type: none;
        display: flex;

        li {
            padding-right: 30px;
            cursor: pointer;
            font-size: 15px;
            text-transform: uppercase;
            text-align: center;
            a {
                text-decoration: none;
                color: white;
                font-size: 15px;
                position: relative;
                top: 6px;
                &:hover {
                    font-size: 18px;
                    color:white;
                }
                &::after {
                    content: '';
                    height: 3px;
                    background-color: white;
                    opacity: 0;
                    position:absolute;
                    left: 0;
                    bottom: -5px;
                    width: 100%;
                    transition:  all ease-in-out 300ms;
                    transform: scaleX(0);
                }
                &:hover::after {
                    opacity: 1;
                    transform: scaleX(1);
                }
              
            }

        }
    }

}
.navbar-inverse {
    background-color: rgba(0,0,0,0.4);
    z-index: 5;
}