.header {
    position: fixed;
    box-shadow: 20px -1px 12px 5px grey;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    color: white;
    margin-top:25px;
    z-index: 999;
    a {
        cursor: pointer;
        font-size: 25px;
        color: white;
        text-decoration: none;
        &:hover {
            font-size: 27px;
        }
    }
    
    ul {
        list-style-type: none;
        display: flex;

        li {
            padding-right: 30px;
            cursor: pointer;
            font-size: 15px;
            text-transform: uppercase;
            text-align: center;
            a {
                text-decoration: none;
                color: white;
                font-size: 15px;
                position: relative;
                top: 6px;
                &:hover {
                    font-size: 18px;
                }
            }

        }
    }

}