@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.titleHolder {
    width: $width-full;
    height: 10vh;
    background-color: $color-orange-2;
    div {
        display: $display-flex;
        justify-content: $justify-content-S-A;
        align-items: $align-items-c;
        h1 {
            font-size: $font-size-xl;
            line-height: 2.4em;
            letter-spacing: 1.2px;
            color: $color-white-regular;
        }

}
}
.descriptionTab {
    display: $display-flex;
    flex-direction: $flex-direction-c;
    justify-content: $justify-content-c;
    align-items: $align-items-c;
    width: $width-full;
    background-color:$color-white-gray ;
    padding: 2em 0em;

    p {
        display: $display-flex;
        width: $width-half;
        text-align: $text-align-c; 
        margin-bottom: 1em;
        color: $color-white-regular;
        font-size: $font-size-m;

        
    }
}
.additionalInfo {
    width: $width-full;
    background-color: $color-orange-2;
    display: $display-flex;
    align-items: $align-items-c;
    justify-content: $justify-content-c;
    padding:5em 0em;
    
    div {
        display: $display-flex;
        flex-direction: $flex-direction-c;
        width: 25%;
        background-color: $color-white-gray;
         padding: 30px 60px 30px 60px;
         height: 45vh;

        h1 {
            font-size: $font-size-xl;
            line-height: 2.4em;
            letter-spacing: 1.2px;
            color: $color-white-regular;
            margin-top: 1em;
        }
        h2 {
            margin-bottom: 1em;
            color: $color-white-regular;
        }
        p {

            justify-content: $justify-content-c;
            align-items: $align-items-c;
            color: $color-white-regular;
            font-size: $font-size-m;
        }
    }
}
