<div class="titleHolder">
    <div>
    <h1>O Festivalu</h1>
</div>
</div>
<div class="descriptionTab">
    <p>Srebrenica Wave Fest počeo je 2016. godine, kada su članovi benda Afera, osnivači Srebrenica Wave Udruženja, uz podršku opštine Tilburg, organizacije Portagora, Emmaus France i Svjetske Alijanse Solidarnosti Franco Bettoli (World Solidarity Alliance Franco Bettoli), organizovali prvi “Srebrenica Wave” festival. Ovaj projekat prvenstveno je napravljen sa ciljem doprinosa procesu afirmacije kulture i kulturnih dešavanja u Srebrenici kroz organizaciju aktivnosti za mlade, ali i s ciljem pomoći marginaliziranim mladima iz ruralnih i etnički podijeljenih područja, učeći ih pomirenju, ravnopravnosti, mogućnostima i važnosti zajedničkih akcija. </p>
    <p>Prvi festival je značajno unaprijedio kontakte, razmjenu iskustava i znanja, te izgradnji mostova između Srebrenice i kulture Europskih zemalja. Bez obzira na otežavajuće okolnosti, nakon ovoga, organizovan je drugi, zatim treći festival i pored toga još mnoštvo drugih muzičkih događaja, aktivnosti i projekata a sve sa istim ciljem koje Udruženje i danas prati.</p>
    <p>Do sada je organizovano i održano pet festivala, na kojima su nastupala neka od najvećih imena regionalne i europske scene, uključujući:

        Frenike, Helem Nejse, Bjesovi, Kontra, Indigo, Laka, Cold Fuse, Diligent, Serena Meloni, Brkovi, Jufkamental, Sopot, M.O.R.T. i mnogi drugi lokalni i strani izvođači.</p>
</div>
<div class="additionalInfo">
    <div>

        <h1>Helem Nejse</h1>
        <h2>Izvodjaci na festivalu</h2>
        <p>
            Iz godine u godinu festival raste, što se vidi i po izvođačima koji dolaze. Nama je uvijek bilo gotivno otići tamo jer se osjećamo kao kod kuće. Jedva čekamo svirku, a moram reći da malo više jedva čekamo krstarenje na jezeru Perućac i ljekovitu vodu na izvoru Guber. (…) Svako bi trebao posjetiti Srebrenicu i njihov festival Wave.  
        </p>
       
    </div>

    <div class="imgHolder">
        <h1>Bjesovi</h1>
        <h2>Izvodjaci na festivalu</h2>
        <p>
            Ne znam koliko muzika i kultura mogu uticati na politička i ekonomska kretanja u društvu. Razmišljao sam, naravno, često na ovu temu i zaključivao čas jedno, čas drugo, često dijametralno suprotno. Ono što je sigurno je da su ljudi koji se čistog srca zanimaju umetnošću i kulturom, većinom pametni, konstruktivni, plemeniti, duševni…   
        </p>   

     </div>
</div>
