@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.titleHolder {
    width: $width-full;
    height: 10vh;
    background-color: $color-orange-2;
    div {
        @include display-align-justify($display-flex, $align-items-c, $justify-content-S-A);
        h1 {
            @include font-lineH-letterS-color($font-size-xl, 2.4em, 1.2px, $color-white-regular);
        };
    };
};
.descriptionTab {
    @include display-direction-align($display-flex, $flex-direction-c, $align-items-c);
    justify-content: $justify-content-c;
    width: $width-full;
    background-color:$color-white-gray ;
    padding: 2em 0em;

    p {
        display: $display-flex;
        width: $width-half;
        text-align: $text-align-c; 
        margin-bottom: 1em;
        @include font-size-and-color($font-size-m, $color-white-regular);  
    };
};
.additionalInfo {
    width: $width-full;
    background-color: $color-orange-2;
    @include display-align-justify($display-flex, $align-items-c, $justify-content-c);
    padding:5em 0em;
    
    div {
        display: $display-flex;
        flex-direction: $flex-direction-c;
        width: 40%;
        background-color: $color-white-gray;
         padding: $padding-box;
        min-height: 450px;
       

        h1 {
            @include font-lineH-letterS-color($font-size-xl, 2.4em, 1.2px, $color-white-regular);
        };
        h2 {
            margin-bottom: 1em;
            color: $color-white-regular;
        };
        p {

            justify-content: $justify-content-c;
            align-items: $align-items-c;
            @include font-size-and-color($font-size-m,$color-white-regular);
        };
    };
};

@media screen and  (max-width: 930px) {
    .descriptionTab p {
        width: 90%;
    }
    .additionalInfo p {
        width: 100%;
        height: inherit;
    }
    .additionalInfo div {
        min-height: 500px;
        padding: 10px 30px;
        justify-content: center;
    }

}
@media screen and  (max-width: 690px) {
    .additionalInfo  {
        padding: 25px 0px;

        flex-direction: column;
    }
    .additionalInfo div {
        width: 100%;
        text-align: center;
        min-height: inherit;
        padding: 10px 30px;
        flex-direction: column;
        justify-content: center;
        line-height: auto;
        padding: 30px;
        &:first-child {
        margin-bottom: 25px;

        }

    }

}
