@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.titleHolder {
    width: $width-full;
    background-color: $color-red-1;
    div {
        @include display-align-justify($display-flex, $align-items-c, $justify-content-S-A);
        h1 {
            @include font-lineH-letterS-color($font-size-xl, 2.4em, 1.2px, $color-white-regular);
        };
    };
};
.inputs {
    @include display-direction-align($display-flex, $flex-direction-c, $align-items-c);
    background-color:white ;
    margin-bottom: 3em;

    .singleInput {
        margin-top: 50px;
        width: 52%;
        height: 30px;
        color: #6B152B ;
        border: 2px solid #6B152B ;
    };
    
};
.previousEvents {
    width: $width-full;
    background-color: $color-red-1;    
    div {
        @include display-align-justify($display-flex, $align-items-c, $justify-content-S-A);
        h1 {
            @include font-lineH-letterS-color($font-size-xl, 2.4em, 1.2px, $color-white-regular);
        };
    };
};

.events-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin: 20px 0px;
    &__events {
        display: flex;
        width: 70%;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-evenly;
        &--items{
                // width: 20%;
            }

            
           
    
            }
           
        
        
}


