@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.imgHolder {
    @include bck-repeat-bck-size-and-height($background-repeat-no, $background-size-c, $height-100vh);
    width: $width-full;
    background-image: url(../../../../assets/Pivnica_preparation.jpg);
    .colorOverlay {
        background-color: transparent;
        background-image: linear-gradient(180deg, #000000 0%, $color-red-1 100%);
        @include opacity-height-width($opacity-half, $height-full, $width-full);
    }
    .titleHolder {
        display: $display-flex;
        align-items: $align-items-c;
        justify-content: space-evenly;
        background-color: $color-red-a;
        @include width-height-pos-bott-left ($width-22, 15vh, relative, 15vh, 490px);
        text-align: center;
        div {
            color: $color-white-regular;
            position: relative;
            font-size: 20px;
        }
    };
   
}

@media screen and  (max-width: 1300px) {
    .imgHolder {
    background-position: 33%;
        .titleHolder {
            width: 40%;
            position: relative;
            left: 0;
            display: flex;
            justify-content: space-evenly;

    }
}
}


@media screen and  (max-width: 930px) {
    .imgHolder .titleHolder {
        width: 100%;
      

    }
}