@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.aboutPivnica {
    @include display-direction-align($display-flex, $flex-direction-c, $align-items-c);
    background-image: url(../../../../assets/mixerpng.png);
    @include bck-repeat-bck-size-and-height($background-repeat-no, $background-size-c, $height-95vh);
    h1 {
        @include font-size-and-color($font-size-xl, $color-white-regular);
        margin-top: $margin-top-xl;

        span {
            color:$color-red-1;
        };
    };
    p {
        @include font-size-and-color($font-size-m, $color-white-regular);
        margin-top: $margin-top-m;
        width: $width-half;
        @include items-and-text-align($align-items-c, $text-align-c);
    };
    div {
        display: $display-flex;
        justify-content: $justify-content-S-A;
        padding-top: $padding-top-l;

    };
    button {
        cursor: pointer;
        &.__more {
            @include buttons;

            
            &:hover {
                @include buttonHover ($color-red-1);
        };
    };
        &.__book {
            @include buttons;

            &:hover {
                @include buttonHover ($color-red-2);

        };
        
      };
    
    };
};