<div class="aboutPivnica">
    <h1>MULTI-FUNKCIONALNI CENTAR  <span>PIVNICA</span></h1>
    <p>Sama ideja o osnivanju Udruženja je krenula 2016. godine, kada su članovi benda uz podršku opštine Tilburg, organizacije Portagora, Emmaus France i Svjetske Alijanse Solidarnosti Franco Bettoli (World Solidarity Alliance Franco Bettoli), organizovali prvi “Srebrenica Wave” festival. Ovaj projekat prvenstveno je napravljen sa ciljem doprinosa procesu afirmacije kulture i kulturnih dešavanja u Srebrenici kroz organizaciju aktivnosti za mlade, ali i s ciljem pomoći marginaliziranim mladima iz ruralnih i etnički podijeljenih područja, učeći ih pomirenju, ravnopravnosti, mogućnostima i važnosti zajedničkih akcija.</p>
    <div class="buttons">
        <button class="__more">Vise o pivnici 	 &#8505;</button>
        <button class="__book">Bookiraj pivnicu  &#8614;</button>
    </div>
</div>