.events {
    display: flex;
    .title {
        text-align: center;
    
    }
    .description {
        font-size: 15px;
        text-align: center;
    }
    .rating {
        display: flex;
        justify-content: center;
        font-size: 30px;
        &__full {
            color: #FDCC0D
        }
        &__empty {
            color: #222222
        }
      
    }
}