@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.inputs {
    @include display-direction-align($display-flex, $flex-direction-c, $align-items-c);
    @include bck-repeat-bck-size-and-height($background-repeat-no, $background-size-c, $height-95vh);
    background-color:#062A52 ;
    background-position: center;
    user-select: none;
    h1 {
        font-size: $font-size-xl;
        margin-top: 80px;
        color: $color-white-regular;
    }
    img {
        filter: invert(98%) sepia(0%) saturate(100%) hue-rotate(130deg) brightness(150%) contrast(30%);
        position: relative;
        // top: 50px;
        bottom: 20px;
        max-height: 45vh
    }

    .allEvents {
        @include buttons;
        &:hover {
            background-color:#4C1023;
            outline: var(--outline);
            outline-offset: 2px;
        }
    }
    // img {
    //     margin-bottom: 5px;
    // }
    .events-container__events{
        color: $color-white-regular;
        font-size: $font-size-m;
        margin: 100px;
        display: flex;
        width: 70%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        /* justify-content: flex-start; */
        text-align: center;
        &--items {
            padding: 20px;
        border: 1px solid $color-white-regular;
            &:first-child {
                border-radius: 26px 0px 0px 26px;
            }
            &:last-child {
                border-radius: 0px 26px 26px 0px;
            }


            h2 {
                margin-bottom: 20px;
            }
        }
    
    }
}





