@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.inputs {
    @include display-direction-align($display-flex, $flex-direction-c, $align-items-c);
    @include bck-repeat-bck-size-and-height($background-repeat-no, $background-size-c, $height-95vh);
    background-color:#062A52 ;
    background-position: center;
    user-select: none;
    h1 {
        padding-top: 80px;
        color: #a7afb8;
    }
    img {
        filter: invert(98%) sepia(0%) saturate(100%) hue-rotate(130deg) brightness(150%) contrast(30%);
        position: relative;
        top: 60px;
    }
    .singleInput {
        border-radius: $border-radius-5px;
        margin-top: 40px;
        width: $width-half;
        height: 30px;
        color: $color-white-regular;
        border: 2px solid white;
    }
    .allEvents {
        @include buttons;
        &:hover {
            background-color:#4C1023;
            outline: var(--outline);
            outline-offset: 2px;
        }
    }
    img {
        margin-bottom: 5px;
    }
}