
<div class="imgHolder">
    <div class="colorOverlay"></div>
    <div class="titleHolder">
        <div>
            <h1>O Srebrenica Wave</h1>
            <p>Uzimajući u obzir činjenicu da muzika ne poznaje granice i da je jedna od ključnih komponenti za proces izgradnje mira, jer nudi emocionalno olakšanje i pomaže komunikaciju potrebnu za pomirenje i suživot, grupa mladih iz Srebrenice, 2008. godine osnovala je bend “Stari grad”, kasnije preimenovan u “Afera”.</p>
            <p>Podstaknuti vjerom da samo radeći zajedno možemo postati i opstati te svjesni da se s okolnostima koje vladaju treba suočiti što prije, bend je tada došao na ideju da organizuje svirke na raznim mjestima u gradu, mjestima gdje su prije rata održavana kulturna dešavanja i muzički koncerti, a na kojima se proteklih 20 godina ništa nije dešavalo.</p>
        </div>
    </div>
</div>
