@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.imgHolder {
    width: $width-full;
    background: url(../../../../assets/audience.jpg);
    @include bck-repeat-bck-size-and-height($background-repeat-no, $background-size-c, $height-100vh);
    z-index: 10;
    .colorOverlay {
        background-image: linear-gradient(180deg, #000000 0%, #055394 100%);
        opacity: 0.5;
        height: 100%;
        width: $width-full;
        z-index: 0;

    }
    .titleHolder {
        @include display-align-justify($display-flex, $align-items-c, flex-start);
        background-color: $color-blue-a;
        padding: $padding-top-l;
        border-radius: $border-radius-title-holder;
        @include width-height-pos-bott-left($width-30,60vh, relative, 60vh, 300px);
        div {
            @include display-direction-align($display-flex, $flex-direction-c, $align-items-s);
            color: $color-white-regular;
            position: relative;
            bottom: 2vh;
            h1 {
                margin-bottom: 20px;
                font-size: $font-size-xl;

            }
            p {
                margin-top: $margin-top-m;
                font-size: $font-size-m;
                text-align: $align-items-s;
            }
        }
    };
   
}