<div class="imgHolder">
    <div class="colorOverlay"></div>
    <div class="titleHolder">
        <div><h1>Bookiraj pivnicu</h1></div>
    </div>
</div>
<div class="title">
    <div>
        <h1>Bookiraj Pivnicu!</h1>
        <p>Ukoliko želite organizirati događaj u Pivnici, bilo da je u pitanju seminar, radionica, projekcija filma, predstava ili izložba, sigurni smo da vam možemo ponuditi prostor koji odgovara svim vašim potrebama. Pivnica je opremljena binom/pozornicom, audio opremom i tehnikom, osvjetljenjem i posjeduje dovoljno sjedećeg prostora za 50 osoba, te stajaćeg prostora za 300 ljudi.</p>
    </div>
    
</div>
