@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.imgHolder {
    width: $width-full;
    background-image: url(../../../../assets/band_audience.jpg);
    @include bck-repeat-bck-size-and-height($background-repeat-no, $background-size-c, $height-100vh);
    .colorOverlay {
        background-color: transparent;
        height: 100%;
        width: 100%;
    }
    .titleHolder {
        @include display-align-justify($display-flex, $align-items-c, flex-start);
        background-color: $color-orange-a;
        @include width-height-pos-bott-left($width-22, $height-15vh, relative, 15vh, 500px);
        div {
            color: $color-white-regular;
            position: relative;
            bottom: 2vh;
            h1 {
                @include font-size-and-color($font-size-xl, $color-white-regular);
                opacity: 1;
                font-weight: $font-weight-bold;
            }
        }
    };
   
}

@media screen and  (max-width: 1300px) {
    .imgHolder {
        background-position: center center;
    }
    .imgHolder .titleHolder {
        width: 40%;
        position: relative;
        left: 0;
        display: flex;
        justify-content: space-evenly;

    }
}


@media screen and  (max-width: 930px) {
    .imgHolder .titleHolder {
        width: 100%;
      

    }
  
  
}