@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.imgHolder {
    height: $height-100vh;
    width: $width-full;
    background-image: url(../../../../assets/band_audience.jpg);
    background-repeat: $background-repeat-no;
    background-size: $background-size-c;
    .colorOverlay {
        background-color: transparent;
        height: 100%;
        width: 100%;
    }
    .titleHolder {
        display: $display-flex;
        align-items: $align-items-c;
        justify-content: flex-start;
        background-color: $color-orange-a;
        width: 22%;
        height: 15vh;
        position: relative;
        bottom: 15vh;
        left: 500px;
        div {
            color: $color-white-regular;
            position: relative;
            bottom: 2vh;
            left: 2em;
            h1 {
                color: white;
                font-size: $font-size-xl;
                opacity: 1;
                font-weight: bold
            }
        }
    };
   
}