.titleHolder {
    width: 100%;
    height: 10vh;
    background-color: #951933;
    div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        h1 {
            font-size: 45px;
            line-height: 2.4em;
            letter-spacing: 1.2px;
            color: white;
        }

}
}
.descriptionTab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:#222329 ;
    padding: 2em 0em;

    p {
        display: flex;
        width: 50%;
        text-align: center; 
        margin-bottom: 1em;
        color: white;
        font-size: 18px;
    }
}
.additionalInfo {
    width: 100%;
    background-color: #951933;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5em 0em;
    
    div {
        display: flex;
        flex-direction: column;
        width: 20%;
        background-color: #222329;
         padding: 30px 60px 30px 60px;
         height: 55vh;

        h1 {
            font-size: 45px;
            line-height: 2.4em;
            letter-spacing: 1.2px;
            color: white;
            margin-top: 1em;
        }
        p {

            justify-content: center;
            align-items: center;
            color: white;
            font-size: 18px;
        }
        .imgHolder {
            margin-bottom: 100px;
        }
    }
}
