<div class="titleHolder">
    <div>
    <h1>Pivnica</h1>
</div>
</div>
<div class="descriptionTab">
    <p>Jedno od najvećih postignuća organizacije bilo je sticanje prava na korištenje javne zgrade, bivšeg hotela i bara/pivare. Postali smo privremeni vlasnici zgrade na 20 godina počevši od 2018. Ova nam je zgrada omogućila da proširimo svoje programe i aktivnosti i počnemo realizirati našu ideju da imamo jedinstveno mjesto na kojem će živjeti naša vizija i naše vrijednosti i uz pomoć kojeg ćemo biti prepoznati i dijeljeni s drugima. Ova zgrada je srž svih aktivnosti. Smještena u bliskom centru Srebrenice, na središnjem trgu, simbolično predstavlja kakva Srebrenica može biti i istovremeno kakva je ona trenutno. </p>
    <p>Jednom uništena zgrada počela je dobivati novi život nakon što je Srebrenica Wave uložio u prve popravke i obnove nakon rata. Preostaje nam još mnogo toga, ali trud ulažemo u osiguranje ove zgrade, ne samo za sebe, već i za dobrobit cijele zajednice. Zgrada je ugostila desetine tisuća ljudi, stotine aktivnosti i ljudi iz cijelog svijeta ostavili su svoj trag u zgradi. Naš san je da Pivnica postane svjetski poznati centar za izgradnju mira koji kroz glazbu i kulturu promiče toleranciju i svakodnevno radimo na tome.</p>
    <p>Srebrenica Wave osigurao je sredstva za obnovu krova, što je bio najveći dio procesa obnove, dio unutrašnjosti posvećen koncertima i događajima i druge sitne popravke. Plan obnove urađen je s arhitektima i stručnjacima, uz cjelokupnu financijsku konstrukciju. Srebrenice  Wave uspio je rekonstruirati zgrade. Kao jedinstveni prostor koji može ponuditi različite vrste usluga, obuhvatiti sve aktivnosti Srebrenic Wave-a i ugostiti ostale organizacije koje rade u Srebrenici, a istovremeno služeći zajednici, cilj obnove ostatka zgrade Pivnica je ključ za realizaciju svih ostalih aktivnosti i može ponuditi Srebrenici novi imidž i novu perspektivu.</p>
</div>
<div class="additionalInfo">
    <div>

        <h1>Pivnica</h1>
        <p>
            Radimo na tome da Pivnica postane svakodnevni servisni centar koji nudi brojne aktivnosti i usluge građanima Srebrenice i svim posjetiteljima, mjesto suradnje i podrške, prijeko potrebne u lokalnoj zajednici, mjesto za kulturu, glazbu, događaje, s prostorima za suradnju i uredima, kao i spavaćim prostorom. Obnova zgrade Pivnice omogućit će razvoj i realizaciju strategije organizacije i otvorit će bezbroj mogućnosti za razvoj zajednice, kao i za razvoj Srebrenica Wave organizacije  
        </p>
       
    </div>

    <div class="imgHolder">
    <img src="../../../../assets/SrebrenicaWave_white.png" alt="wallposter">

     </div>
</div>
