@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.titleHolder {
    width: $color-red-1;
    height: 10vh;
    background-color: #951933;
    div {
        @include display-align-justify($display-flex, $align-items-c, $justify-content-S-A);
        h1 {
            @include font-lineH-letterS-color($font-size-xl, 2.4em, 1.2px, $color-white-regular);
        };
    };
};
.descriptionTab {
    @include display-direction-align($display-flex, $flex-direction-c, $align-items-c);
    justify-content: $justify-content-c;
    width: $width-full;
    background-color:$color-white-gray;
    padding: 2em 0em;

    p {
        @include font-size-and-color($font-size-m, $color-white-regular);
        display: $display-flex;
        width: $width-half;
        text-align: $text-align-c; 
        margin-bottom: 1em;
    };
};
.additionalInfo {
    @include display-align-justify($display-flex, $align-items-c, $justify-content-c);
    width: $width-full;
    background-color: $color-red-1;
    padding:5em 0em;
    
    div {
        display: $display-flex;
        flex-direction: $flex-direction-c;
        width: 40%;
         background-color: $color-white-gray;
         padding: $padding-box;
         height: 55vh;
       

        h1 {
            @include font-lineH-letterS-color($font-size-xl, 2.4em, 1.2px, $color-white-regular);
            margin-top: 1em;
        };
        p {
            justify-content: $justify-content-c;
            align-items: $align-items-c;
            color: $color-white-regular;
            font-size: $font-size-m;
        };
       
    };
    .imgHolder {
        display: flex;
        justify-content: center;
    }
};


    @media screen and  (max-width: 1300px) {
       .additionalInfo {
        line-height: 1.2em;
        letter-spacing: normal;
        margin: 0;
        div h1 {
            line-height: 1.8em;
            margin:0 ;
        }
        .imgHolder {
            justify-content: center;

        }   
       }
    }

@media screen and  (max-width: 930px) {
    .descriptionTab p {
        width: 90%;
    }
    .titleHolder div h1 {
        margin:0px 25px;
        line-height: 1.2em;
     letter-spacing: normal;

    }
    .additionalInfo  {
        padding:2em 0em;
        flex-direction: column;
        padding: 25px 0px;
        height: auto;
        width: 100%;

        
        div {
            height: auto;
            width: 100%;
            text-align: center;
            &:first-child {
                margin-bottom: 25px;
            }

        }
    }
}
