@font-face {
    font-family: "encode";
    src: local("encode"), url(assets/fonts/EncodeSansCondensed-Regular.ttf);
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "encode";
}