.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
button {
        font-size: 1.5em;
        background-color: transparent;
        color: white;
        border: none;
        border-top: 5px solid white;
        cursor: pointer;
         }
   }
   .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
     

   }
   

