<div class="aboutUs">
    <div class="bckimg">
        <h1>O <span>NAMA</span></h1>
        <p>Kroz muziku, kulturu i umjetnost, u svrhu promocije MIRA, PRAVDE i ZAJEDNIŠTVA, Srebrenica Wave - POVEZUJE ljude; STVARA okruženje za razvoj potencijala induvidualaca i zajednice; POTIČE kulturno i umjetničko stvaralaštvo; OMOGUĆUJE jedinstveni prostor za izražavanje.</p>
        <div class="allEvents">
           <a routerLink="/o-nama"><button class="__more">Više o nama 	 &#8505;</button></a>
            <a routerLink="/dogadjaji"><button class="__events">Nadolazeći događaji  &#8614;</button></a>
        </div>
    </div>
   
</div>
