@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.aboutUs {
    display: $display-flex;
    flex-direction: $flex-direction-c;
    align-items: $align-items-c;
    background-image: url(../../../../assets/ss.png);
    background-repeat: $background-repeat-no;
    background-size: $background-size-c;
    height: $height-95vh;
   


    h1 {
        font-size: $font-size-xl;
        color: $color-white-regular;
        margin-top: $margin-top-xl;

        span {
            color: $color-blue-1;
        }
    }
    p {
        font-size: $font-size-m;
        margin-top: $margin-top-m;
        width: $width-half;
        align-items: $align-items-c;
        text-align: $text-align-c;
        color: $color-white-regular;
    }
    div {
        display: $display-flex;
        justify-content: $justify-content-S-A;
        padding-top: $padding-top-l;

    }
    button {
        border-radius: $border-radius-5px;
        cursor: pointer;
        &.__more {
            font-size: $font-size-m;
            font-weight: $font-weight-m;
            line-height: $line-height-m;
            color: $color-white-regular;
            background-color: $color-blue-2;
            padding: $padding-button;
            &:hover {
                background-color: $color-blue-1;
                font-weight: $font-weight-bold;
                }
        }
        &.__events {
            margin-left: $margin-left-m;
            font-size: $font-size-m;
            font-weight: $font-weight-m;
            line-height: $line-height-m;
            color: $color-white-regular;
            background-color: $color-blue-1;
            padding: $padding-button;
            &:hover {
                background-color: $color-blue-2;
                font-weight: $font-weight-bold;
                }
        }
        
    }
    
}