<div class="aboutUs">
    <h1>O <span>NAMA</span></h1>
    <p>Kroz muziku, kulturu i umjetnost, u svrhu promocije MIRA, PRAVDE i ZAJEDNIŠTVA, Srebrenica Wave - POVEZUJE ljude; STVARA okruženje za razvoj potencijala induvidualaca i zajednice; POTIČE kulturno i umjetničko stvaralaštvo; OMOGUĆUJE jedinstveni prostor za izražavanje.</p>
    <div class="buttons">
        <button class="__more">Vise o nama 	 &#8505;</button>
        <button class="__events">Nadolazeci dogadjaji  &#8614;</button>
    </div>
</div>
