@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
.aboutUs { 
    height: $height-95vh;
    
.bckimg {
    @include display-direction-align($display-flex, $flex-direction-c, $align-items-c);
  
    @include bck-repeat-bck-size-and-height($background-repeat-no, $background-size-c, 100%);
    width: 100%;
    justify-content: $justify-content-c;
    background-image: url(../../../../assets/ss.png);
    background-position: center center;
    h1 {
        @include font-size-and-color($font-size-xl,$color-white-regular);
        span {
            color: $color-blue-1;
        }
    }
    p {
        @include font-size-and-color($font-size-m, $color-white-regular);
        margin-top: $margin-top-m;
        width: $width-half;
        @include items-and-text-align($align-items-c, $text-align-c);
    }
    div {
        display: $display-flex;
        justify-content: $justify-content-S-A;
        padding-top: $padding-top-l;

    };
    button {
        cursor: pointer;
        &.__more {
            @include buttons;
            &:hover {
                @include buttonHover($color-blue-2)
            };
            
        };
        &.__events {
            @include buttons;
            &:hover {
                @include buttonHover ($color-blue-1);
             };
        } ;  
    };
    
};
};


@media screen and (max-width: 900px) {
    .aboutUs {
        height: 80vh;
        .bckimg {
            background-position: 54% center;
        }
    }
    .aboutUs .bckimg {
        h1 {
            font-size: 35px;
        }
        p {
            font-size: 18px;
            width: 70%;

    
        }
    }
   
    
};